$dark-version-body-color:                 rgba(228, 230, 235, 0.8) !default;
$dark-version-bg-color:                   #18191A !default;
$dark-version-sidenav-bg-color:           #18191A !default;
$dark-version-card-bg-color:              #242526 !default;
$dark-version-card-box-shadow:            0 2px 4px rgba(0, 0, 0, 0.2) !default;
$dark-version-input-bg-image:             linear-gradient(0deg, #1877F2 2px, rgba(24, 119, 242, 0) 0), linear-gradient(0deg, rgba(176, 179, 184, 0.6) 1px, rgba(176, 179, 184, 0) 0) !default;
$dark-version-border-color:               #3E4042 !default;
$dark-version-table-color:                rgba(228, 230, 235, 0.6) !default;
$dark-version-caret-sidebar-color:        rgba(176, 179, 184, 0.7) !default;
$dark-nav-link-active-shadow:             0 0 2rem 0 rgba(0, 0, 0, 0.25) !default;
