[Unit]
Description=Serviço Mecânico do Guardião
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/guardiao/guard-agent
ExecStart=/var/guardiao/guard-agent/venv/bin/python3 /var/guardiao/guard-agent/mechanic.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target