{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title
%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<!-- Importação global do CSS customizado -->
{% endblock stylesheets %} {% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Guardiões
                </p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_agents}}
                  <span class="text-success text-sm font-weight-bolder"
                    >+55%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                <i
                  class="ni ni-circle-08 text-lg opacity-10"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Ambientes
                </p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_keys}}
                  <span class="text-success text-sm font-weight-bolder"
                    >+3%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                <i
                  class="ni ni-world text-lg opacity-10"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Vulnerabilidades
                </p>
                <h5 class="font-weight-bolder mb-0">
                  {{total_vulns}}
                  <span class="text-danger text-sm font-weight-bolder"
                    >-2%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                <i
                  class="ni ni-paper-diploma text-lg opacity-10"
                  aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-8">
              <div class="numbers">
                <p class="text-sm mb-0 text-capitalize font-weight-bold">
                  Vulns Críticas
                </p>
                <h5 class="font-weight-bolder mb-0">
                  {{vulns_criticas}}
                  <span class="text-success text-sm font-weight-bolder"
                    >+5%</span
                  >
                </h5>
              </div>
            </div>
            <div class="col-4 text-end">
              <div
                class="icon icon-shape bg-gradient-secondary shadow text-center border-radius-md">
                <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="card">
        <div class="card-body p-3">
          <div class="row">
            <div class="col-lg-6">
              <div class="d-flex flex-column h-100">
                <p class="font-weight-bolder mb-1 pt-2 text-bold">Download</p>
                <h5 class="font-weight-bolder">Software Guardião</h5>
                <p class="mb-5">
                  Faça aqui o Download do Software para instalar nos clientes.
                </p>
                <a
                  class="text-body font-weight-bold mb-0 icon-move-right mt-auto"
                  href="javascript:;">
                  Clique aqui
                  <i
                    class="fas fa-arrow-right text-sm ms-1"
                    aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
              <div class="bg-gradient-dark border-radius-lg h-100">
                <img
                  src="{{ config.ASSETS_ROOT }}/img/shapes/waves-white.svg"
                  class="position-absolute h-100 w-50 top-0 d-lg-block d-none"
                  alt="waves" />
                <div
                  class="position-relative d-flex align-items-center justify-content-center h-100">
                  <img
                    class="w-100 position-relative z-index-2 pt-4"
                    src="{{ config.ASSETS_ROOT }}/img/illustrations/downimg3.png"
                    alt="rocket" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card h-100 p-3">
        <div
          class="overflow-hidden position-relative border-radius-lg bg-cover h-100"
          style="background-image: url('{{ config.ASSETS_ROOT }}/img/ciber-securityimg.jpg');">
          <span class="mask bg-gradient-dark"></span>
          <div
            class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
            <h5 class="text-white font-weight-bolder mb-4 pt-2">
              Software de Scan
            </h5>
            <p class="text-white">
              Eleve sua segurança digital com nosso Software de Scan. Detecte e
              corrija vulnerabilidades, proteja sua rede com eficiência.
              Relatórios detalhados e recomendações práticas garantem uma defesa
              robusta contra ataques.
            </p>
            <a
              class="text-white font-weight-bold mb-0 icon-move-right mt-auto"
              href="javascript:;">
              Saiba mais
              <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<!-- Importação global do JS customizado -->
<script src="{{ url_for('static', filename='assets/js/hightech-theme.js') }}"></script>
{% endblock javascripts %}
