{% extends 'layouts/base.html' %}

{% block title %} Chaves de Ativação {% endblock title %}

{% block stylesheets %}
<!-- Specific CSS goes HERE -->
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h3>Vulnerabilidades</h3>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <form method="post">
                    <div class="row m-1">
                      <!-- Campo de busca -->
                      <input class="form-control w-25 mb-4 m-1" type="text" name="buscar" placeholder="Buscar">
                      <!-- Botão de busca -->
                      <input class="btn bg-gradient-secondary w-10 h-25 m-1" type="submit" value="buscar">
                      <!-- Botão para limpar a busca -->
                      <input class="btn bg-gradient-secondary w-10 h-25 m-1" type="submit" href="/vulns" value="Limpar">
                    </div>
                  </form>
                </tr>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">CVE</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Severidade</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descrição</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ofensores</th>
                </tr>
              </thead>
              <tbody>
                {% if vulns %}
                {% for vuln in vulns %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ vuln.cve_id }}</h6>
                        <p class="text-xs text-secondary mb-0">CVSS: {{ vuln.cvss }}</p>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <span class="badge badge-sm bg-gradient-success">{{ vuln.severity.upper() }}</span>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm text-truncate" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ vuln.description }}">
                          {{ vuln.description }}
                        </h6>
                        <p class="text-xs text-secondary mb-0">{{ vuln.cwe_ids }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-xs text-secondary mb-0">Lançamento: {{ vuln.published_date }}</p>
                        <p class="text-xs text-secondary mb-0">Última atualização: {{ vuln.last_modified_date }}</p>
                        <p class="text-xs text-secondary mb-0">Versão instalada: {{ vuln.installed_version }}</p>
                        <p class="text-xs text-secondary mb-0">Versão corrigida: {{ vuln.fixed_version }}</p>
                        <p class="text-xs text-secondary mb-0">Referências: {{ vuln.references }}</p>
                      </div>
                    </div>
                  </td>
                </tr>
                {% endfor %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='../../static/assets/vuln_status.js') }}"></script>
{% include "includes/footer.html" %}
{% endblock content %}